<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="plant_code" value="F337" />
		<!-- <add key="printer_code" value="1"/> -->
		<add key="printer_name" value="Bullzip PDF Printer" />
		<add key="listen_ip" value="" />
		<add key="listen_port" value="5000" />
		<!-- 2M -->
		<add key="log_size" value="2097152" />
		<add key="upload_path" value="http://10.32.11.113:8081/Api/Printer" />
		
	</appSettings>
</configuration>